# Levantamento de Requisitos (V1.1.2)

## Requisitos Funcionais

O sistema deve permitir que o usuário mantenha as suas contas
O sistema deve permitir que o usuário faça login
O sistema deve permitir que o usuário recupere a sua conta
O sistema deve permitir que o usuário mantenha as categorias
O sistema deve permitir que o usuário marque uma categoria como favorita
O sistema deve permitir que o usuário mantenha as suas transações financeiras
O sistema deve permitir que o usuário vincule as transações a categorias
O sistema deve permitir que o usuário mantenha os pagamentos das transações financeiras
O sistema deve calcular quanto que já foi liquidado em uma transação
O sistema deve calcular quanto que falta a ser liquidado em uma transação
O sistema deve permitir que o usuário efetue a liquidação das transações financeiras
O sistema deve permitir que o usuário marque para observar uma transação financeira
O sistema deve permitir que o usuário duplique uma transação financeira
O sistema deve duplicar as transações financeiras que são programáticas na hora configurada
O sistema deve calcular a próxima data da transação financeira a ser duplicada
O sistema deve gerenciar o controle de fluxo das situações das transações financeiras
O sistema deve permitir que o usuário mantenha as notas das transações financeiras
O sistema deve permitir que o usuário mantenha os anexos
O sistema deve permitir a emissão de relatórios
O sistema deve permitir o envio de notificações
O sistema deve enviar uma notificação com aviso prévio antes de uma transação financeira fique como atrasada
O sistema deve enviar uma notificação quando uma transação financeira fica atrasada
O sistema deve enviar uma notificação interna quando ocorre algum erro síncrono do sistema
O sistema deve permitir o envio de email
O sistema deve permitir que o usuário marque as notificações internas como lida

## Requisitos Não Funcionais

O sistema deve ser feito em ambiente mobile
O sistema deve ser feito usando React Native
O sistema deve rodar em segundo plano para controle de data e hora das transações
O repositório de dados deve ser mantido no dispositivo do usuário
O sistema não deve ter dependência com a internet
A emissão de relatório pode ser feito em PDF ou JPG
O sistema de login para se autenticar deve ser por Email e Senha, Digital ou Facial
O email informado no cadastro deve ser um email valido
A estratégia de autenticação a ser usada deve ser JWT
Em um dispositivo pode haver várias contas
Os dados confidenciais devem ser armazenados e transmitidos de forma criptografada
O aplicativo deve proteger-se contra ataques de injeção de SQL, validando e sanitizando todas as entradas de dados do usuário
O aplicativo deve bloquear toda vez que perder o foco
Estabeleça alertas para atividades suspeitas
Implemente um sistema de controle de acesso para garantir que os usuários tenham acesso apenas ao que é necessário para suas funções
Mantenha cópias de backup dos dados críticos e estabeleça um plano de recuperação de desastres
As mídias permitidas são: JPG; JPEG; PNG; PDF
O sistema deve verificar se há Transações programáticas todos os dias, em um horário configurável
A recueração de senha de uma conta deve seguir a estratégia de "autenticação de dois fatores" (A2F)
O envio do código de recuperação de senha deve ser enviado via email
O código deve ter um tempo de expiração de 15 minutos

## Regras de Negócio

### O sistema deve permitir que o usuário mantenha as suas contas

O cadastro de conta deve conter: nome; email; senha

O email da conta deve ser único

### O sistema deve permitir que o usuário faça login

O usuário só pode estar autenticado em uma conta por vez

### O sistema deve permitir que o usuário recupere a sua conta

Para recuperar a conta, o sistema deve enviar um código ao usuário que permitirá que o mesmo refaça uma nova senha para a conta

### O sistema deve permitir que o usuário mantenha as categorias

O cadastro da Categoria deve conter: o nome; é favorito; cor de destaque

### O sistema deve permitir que o usuário marque uma categoria como favorita

Ao marcar uma categoria como favorita, a mesma deve aparecer como umas das principais opções nos campos de qualquer escolhas

### O sistema deve permitir que o usuário mantenha as suas transações financeiras

Para cadastrar uma Transação Financeira é necessário: o título da transação; descrição; data e hora da expiração da transação; data e hora da competência da transação; o valor; tipo da transação; tipo de ocorrência; situação; grau de prioridade; se deseja enviar uma notificação de alerta de vencimento; se deseja observa-la; vezes à repetir

No cadastro da Transação, caso não tenha sido informado a data e hora da competência, a mesma será a data e hora do momento em que ela está sendo cadastrada

As Transações Financeiras podem ser do tipo: Despesa ou Renda

A situação de uma Transação Financeira pode ser: Pendente; Pago; Pago Parcialmente; Atrasado; Cancelado

Para cadastrar uma transação do tipo Despesa, é necessário: nome do recebedor

Para cadastrar uma transação do tipo Renda, é necessário: nome do remetente

As Transações Financeiras podem ter ocorrência do tipo: Única ou Programática

Ocorrências do tipo Única são ocorrências que ocorre apenas uma única vez

Ocorrências do tipo Programática são ocorrência que pode repetir uma vez por: Diariamente, Semanalmente, Mensalmente, Trimestralmente, Semestralmente, Anualmente

### O sistema deve permitir que o usuário mantenha os pagamentos das transações financeiras

O pagamento deve conter: o valor do pagamento; desconto; data e hora do pagamento

O valor do pagamento não deve ser maior ao valor que falta liquidar da Transação Financeira

### O sistema deve permitir que o usuário efetue a liquidação das transações financeiras

Ao liquidar uma transação, o valor da mesma deve ser menor ou igual ao valor da transação

### O sistema deve calcular quanto que já foi liquidado em uma transação

O valor total liquidado em uma Transação Financeira é a soma de todas os valores da liquidação da Transação e subtrair pela soma de todos os descontos da mesma

### O sistema deve calcular quanto que falta a ser liquidado em uma transação

O valor total que falta a ser liquidado em uma Transação Financeira é a subtração do valor total liquidado menos o valor da Transação Financeira

### O sistema deve permitir que o usuário vincule as transações a categorias

Para cada Transação Financeira, o usuário pode vincula-lo a várias categorias previamente cadastradas

### O sistema deve permitir que o usuário mantenha as notas das transações financeiras

Para adicionar uma nota numa Transação Financeira, deve-se informar: a descrição da nota

### O sistema deve permitir que o usuário duplique uma transação financeira

A duplicação de uma Transação Financeira pode ser feito escolhendo uma Transação Financeira já cadastrada, podendo alterar qualquer dado antes de confirmar a nova Transação Financeira duplicada

### O sistema deve duplicar as transações financeiras que são programáticas na hora configurada

Transações Financeiras com ocorrência diária, deve ser registrado uma nova Transação todos os dias, partindo da data da competência

Transações Financeiras com ocorrência semanal, deve ser registrado uma nova Transação a cada 7 dias, partindo da data da competência

Transações Financeiras com ocorrência mensal, deve ser registrado uma nova Transação a cada 30 dias, partindo da data da competência

Transações Financeiras com ocorrência trimestral, deve ser registrado uma nova Transação a cada 90 dias, partindo da data da competência

Transações Financeiras com ocorrência semestral, deve ser registrado uma nova Transação a cada 180 dias, partindo da data da competência

Transações Financeiras com ocorrência anual, deve ser registrado uma nova Transação a cada 365 dias, partindo da data da competência

A data de competência da Transação repetida será a data em que ela foi registrada

A data de expiração deve ser proporcional a data da competência da Transação original

Todas as informações repetidas, deve começar a repetir partindo da data da competência

Todas as demais informações da Transação repetida será a mesma da Transação original

As Transações Financeiras que são gravadas por ocorrência Programática, terão o tipo da ocorrência como Única

Toda vez que for repetido uma Transação Programática, a quantidade de ocorrências repetidas da Transação Original somará mais 1

Quando a Transação Financeira tiver a quantidade de ocorrências repetidas igual a vezes à repetir, então a mesma não poderá mais repetir

### O sistema deve calcular a próxima data da transação financeira a ser duplicada

A próxima data que será duplicada uma Transação Financeira será será o período da duplicação vezes a quantidade de vezes já duplicadas somado a data da compensação da Transação

### O sistema deve gerenciar o controle de fluxo das situações das transações financeiras

Ao cadastrar uma Transação Financeira, a mesma iniciará com a situação Pendente

Toda Transação Financeira, cuja a data atual ultrapasse a data de expiração, então a sua situação fica como Atrasado

Quando é liquidado uma Transação Financeira e o valor total liquidado da mesma for menor ao valor da Transação, a situação da Transação Financeira passa a ser Pago Parcialmente

Quando é liquidado uma Transação Financeira e o valor total liquidado da mesma for igual ao valor da Transação, a mesma passará a situação para Pago

O usuário pode definir a situação das Transações Financeiras para Cancelado ou Feito a qualquer momento

### O sistema deve permitir que o usuário mantenha os anexos

### O sistema deve permitir a emissão de relatórios

O relatório deve conter: cada valor de entrada e saída movimentado, junto a data e hora da movimentação e ao final deve mostrar o valor total de entrada, total de saída e lucro total

Todos os dados: categorias, transações financeiras e mídias devem ser vinculadas a uma única conta

### O sistema deve permitir o envio de notificações

O envio de notificação deve conter: o assunto; o conteúdo; o tipo da notificação; se foi lida

Toda Notificação criada, a mesma iniciará como não lida

Os tipos da Notificação são: Interna; Push; Mail

### O sistema deve enviar uma notificação com aviso prévio antes de uma transação financeira fique como atrasada

Deve ser enviado uma notificação do tipo Push 24h antes da situação da Transação Financeira ficar como Atrasado

### O sistema deve enviar uma notificação quando uma transação financeira fica atrasada

Quando uma Transação Financeira fica com a situação de Atrasado, deve ser notificado do tipo Push ao usuário

### O sistema deve enviar uma notificação interna quando ocorre algum erro síncrono do sistema

Quando ocorrer um erro interno em qualquer processo do sistema deve ser emitido uma notificação do tipo Interna para o usuário

### O sistema deve permitir que o usuário marque as notificações internas como lida

O usuário pode marcar toda e qualquer notificação do tipo Interna como lida

### O sistema deve permitir o envio de email

O envio de email deve conter: o email do destinatário
