# Requisitos Funcionais
O sistema deve permitir que o usuário mantenha as suas transações financeiras
O sistema deve gerenciar e permitir que o usuário mantenha os status das suas transações financeiras
O sistema deve permitir o controle de mídias anexadas
O sistema deve permitir o envio de notifições
O sistema deve permitir o envio de lembretes
O sistema deve permitir a emissão de relatórias mensais

# Requisitos Não Funcionais
O sistema deve ser feito em ambiente mobile
O sistema deve rodar em segundo plano para controle de data e hora das transações
O repositório de dados deve ser mantido no dispositivo do usuário
O sistema não deve ter dependência com a internet
A emissão de relatório pode ser feito em PDJ ou JPG

# Regras de Negócio
As Transações Financeiras podem ser do tipo: Despesa ou Renda

As Transações Financeiras podem ter ocorrência do tipo: Única ou Programática

O status de uma Transação Financeira pode ser: Pendente; Atrasado; Cancelado; Realizado

Para cadastrar uma transação financeira, é necessário: o título da transação; descrição; data e hora da transação; o valor; seu tipo (Despesa ou Renda); tipo de ocorrência; status; anexos de mídias

Para cadastrar uma transação do tipo Despesa, é necessário: nome do remetente; nome do recebedor; data e hora limite (opcional)

Toda Transação Financeira do tipo Despesa, cuja a data atual ultrapasse a data limite (se houver) então o seu status fica como Atrasado

Toda Transação Financeira do tipo Despesa, que não esteja com o status de Pendente então o seu status fica como Pendente

O usuário pode definir o status das Transações Financeiras para Cancelado e Realizado a qualquer momento

Ocorrências do tipo Única são ocorrências que ocorre apenas uma única vez

Ocorrências do tipo Programática são ocorrência que pode repetir uma vez por: semana; mês; ano

O envio de notificação deve ser feito toda vez que uma Transação Financeira fique com o status de Atrasado

O envio lembrete deve ser feito 24h antes do status da Transação Financeira ficar como Atrasado
